# Supabase
.branches
.temp

# dotenvx
.env*

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Local testing
run-local.*

commands.txt

# MobileNet Trainer
data/*
train_credit_model.py
export_training_frames.py